application_database_version          = "${database_version}"
google_billing_account_id_application = "${billing_account}"
google_folder_id_application          = "${folder_id}"
google_project_id_application         = "${project_id}"
google_region_application             = "${region}"
google_zone_application               = "${zone}"
